body {
    background-image: url(assets/images/prism.png);
    padding: 0; 
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
    min-height: calc(100vh - 50px);
}

header {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.white_on_teal {
    background-color: #4aaaa5;
    color: #ffffff;
}

.tabs {
    columns: #777777;
}

.container {
    background-color: #ffffff;
    width: 960px;
    margin: 20px auto;
}

h2{
    color: #4aaaa5;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 2em;
}

.hori {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.btn_con {
    position: relative;
    width:200px;
}

.btn_con img{
    width: 100%;
    height: auto;
}

.btn_con .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

.bio-image {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

p {
    color: #777777;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2em;
}

.footer {
    clear:both;
    height: 50px;
    display: block;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}