body {
    background-image: url(assets/images/prism.png);
    padding: 0; 
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
    min-height: calc(100vh - 50px);
}

header {
    position: relative;
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    height: 160px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 4px solid #cccccc;
}

.box{
    position: relative;
    background-color: #ffffff;
    margin: auto;
    width: 960px;
    height: 160px;
}

#white_on_teal {
    position: absolute;
    bottom: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

#tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 40px;
}

a+a {
    border-left: 1px solid #777777;
}

a:link, a:visited {
    color: #777777; 
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    clear: both;
    color: #4aaaa5;
    padding-top: 20px;
    font-size: 2em;
}

.hori {
    padding-bottom: 20px;
}

.container {
    background-color: #ffffff;
    width: 920px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    margin-top: 20px;
}

.btn_con {
    position: relative;
    width:200px;
    margin-right: 40px;
    margin-bottom: 40px;
    float: left;
}

.btn_con img{
    width: 100%;
    height: auto;
}

.btn_con .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 200px;
  }

.contactForm {
    color: #777777
}

input[id=name], [id=email] {
    width: 907px;
    padding: 4px;
    border: 1px solid #777777;
    margin-bottom: 10px;
}

textarea {
    width: 912px;
    border: 1px solid #777777;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

.bio-image {
    float: left;
    margin-right: 20px;
}

p {
    color: #777777;
    font-size: 1.25em;
    line-height: 2em;
    margin-top: 0px;
}

footer {
    clear:both;
    height: 42px;
    display: block;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #dddddd;
    text-align: center;
}

.footer {
    position: relative;
    top: 24px;
}